
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cabbe9;
  border-radius: 1%;
  min-height: 100%;
}

.image {
  width: 80px;
  height: 50px;
  margin-left: 20px;
}

body {
  background-color: #fccde2;
}

a:hover {
  color: #ffa45c;
  font-family: consolas;
}

i {
  margin-right: 40px;
  
}

#fcc:hover {
  color: green;
  
}

#ig:hover {
  color: pink;
  
}

#gh:hover {
  color: white;;
  
}

#cp:hover {
  color: black;
  
}


::-webkit-scrollbar
{
  width: 12px;
}

::-webkit-scrollbar-thumb
{
  background: linear-gradient(transparent, #30ff00);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent,#00c6ff);
}




